@page "/test"
@namespace InventoryManager.Components.Pages

<PageTitle>Test Page</PageTitle>

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success">
                <h3>🎉 Blazor Routing is Working!</h3>
                <p>If you can see this page, then Blazor routing is functioning correctly.</p>
                <p>The issue is specifically with the root route "/".</p>
            </div>
        </div>
    </div>
</div>
